<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ops! Algo deu errado...</title>
</head>
<body>
    <!-- Exibindo erro único -->
    <img id="errors" data-code="<%= erro.code %>" alt="Erro">
    <h2>Erro: <%= erro.erro %></h2>

    <script>

        const code = document.getElementById('errors').dataset.code;

        document.getElementById("errors").url = `../assets/images/${code}.jpeg`;

    </script>
</body>



</html>